* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}
html {
    height: 100%;
}
body {
    overflow-x: hidden;
    font-size: 16px;
    height: 100%;	
    display: flex;
    flex-direction: column;
}
.app {
    background: url('got.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}